public/
.hugo_build.lock
.aws/.terraform
.aws/*.lock.hcl
**/secret*
.aws/terraform.tfstate
.aws/terraform.tfstate.backup
.devcontainer/devcontainer.json
.devcontainer/Dockerfile

# Node.js and testing
node_modules/
package-lock.json
coverage/
.npm
